appdirs==1.4.4
arrow==0.12.1
aws-sam-cli==0.6.0
aws-sam-translator==1.6.0
aws-shell==0.2.1
awscli==1.16.19
beautifulsoup4==4.9.1
binaryornot==0.4.4
boto3==1.9.9
botocore==1.12.9
certifi==2018.8.24
cfgv==3.1.0
chardet==3.0.4
click==6.7
colorama==0.4.3
configobj==5.0.6
cookiecutter==1.6.0
dateparser==0.7.0
distlib==0.3.1
docker==3.5.0
docker-pycreds==0.3.0
docutils==0.14
enum34==1.1.6
filelock==3.0.12
Flask==1.0.2
future==0.16.0
identify==1.4.21
idna==2.7
importlib-metadata==1.7.0
itsdangerous==0.24
Jinja2==2.10
jinja2-time==0.2.0
jmespath==0.9.3
jsonschema==2.6.0
lxml==4.5.1
MarkupSafe==1.0
nodeenv==1.4.0
oauthlib==3.1.0
packaging==20.4
Pillow==7.2.0
pluggy==0.13.1
poyo==0.4.1
pre-commit==2.6.0
prompt-toolkit==1.0.15
py==1.9.0
pyasn1==0.4.4
Pygments==2.2.0
pyjokes==0.6.0
pyparsing==2.4.7
PyPDF2==1.26.0
pypiwin32==223
PySocks==1.7.1
pystache==0.5.4
python-dateutil==2.7.3
pytz==2018.5
pywin32==223
PyYAML==5.3.1
regex==2018.8.29
requests==2.19.1
requests-oauthlib==1.3.0
rsa==3.4.2
s3transfer==0.1.13
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
tox==3.16.1
translate==3.5.0
tweepy==3.9.0
tzlocal==1.5.1
urllib3==1.23
virtualenv==20.0.25
virtualenvwrapper-win==1.2.6
wcwidth==0.1.7
websocket-client==0.53.0
Werkzeug==0.15.3
whichcraft==0.4.1
zipp==3.1.0
